@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    width: 1100px;
}

header {
    display: flex;/*よこ並べ*/
    justify-content: space-between; /*左右に配置*/
    align-items: center;/*縦方向の中央揃え*/
    background-color: #fff;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc
}

.logo-icon {
    margin: 15px;
    color: #777;
}

.contact-button {
    background-color: #6ba7eb;
    color: #fff;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.keyvisual {
    width: 100%;
    height: auto;
}

.maintitle {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}